* {
	padding: 0;
	margin: 0;
}

.description {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.overview-map {
	fill: #dadada;
	stroke: #fff;
	stroke-width: 1px;
}

.overview-map button {
	color: #999;
  	background: #fff;
  	padding: 5px 10px;
  	margin: 10px 5px;
  	text-decoration: none;
  	border: 1px solid #999;
}

.overview-map button:hover, button.active  {
	color: #fff;
	background: tomato;
}

/* section 2 : top-games-overview*/
.top-games-overview .player {
	fill: steelblue;
	fill-opacity: 0.7;
	stroke: steelblue;
	stroke-width: 1px;
}

.top-games-overview .tournament {
	fill: olivedrab;
	fill-opacity: 0.7;
	stroke: olivedrab;
	stroke-width: 1px;
}

.top-games-overview .prize {
	fill: tomato;
	fill-opacity: 0.7;
	stroke: tomato;
	stroke-width: 1px;
}

.top-games-overview text {
	text-anchor: middle;

	font-family: Helvetica, arial;
	font-weight: bold;
	font-size: 10px;
}

/* section 3 top-games-by-years*/

.top-games-by-years .link {
	fill: none;
	stroke: #777;
	stroke-width: 1px;
}

.top-games-by-years .year {
	text-anchor: middle;

	font-family: Helvetica, arial;
	font-weight: bold;
	font-size: 10px;
}

/* section top-players-story */
.top-players-story text { 
	text-anchor: middle;
	font-size: 15px;
	font-weight: bold;
	font-family: monospace;
}

.top-players-story .player line { 
	stroke: #dadada
}

.top-players-story .year-earning {
	fill: tomato;
	stroke: tomato;
	fill-opacity: 0.7;
}

.top-players-story .stage line {
	stroke: #aaa;
	stroke-dasharray: 1 5;
}

.top-players-story .stage text {
	fill: #aaa;
	font-size: 10px;
}

.top-players-story .stage text, .tick text {
	fill: #aaa;
	font-size: 10px;
}